body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the content is centered vertically on the viewport. */
    margin: 0;
    font-family: "Arial", sans-serif; /* Replace with your desired font name or a web font. */
}

header {
    text-align: center;
    font-size: 24px; /* Adjust the font size as needed. */
}

main {
    text-align: center;
}
